@import "~/.config/rofi/rofi.rasi"

* {
    font: "JetBrains Mono Nerd Font 10";

    background-color: transparent;
    text-color: @foreground;

    margin: 0px;
    padding: 0px;
}

window {
    width: 350px;

    location: center;
    anchor: center;

    padding: 16px;

    border: 2px solid;
    border-radius: 12px;

    border-color: @selected-active-background;
    background-color: @background;
}

mainbox {
    children: [ inputbar, listview ];

    spacing: 10px;

    background-color: transparent;
}

inputbar {
    children: [ prompt, entry ];

    padding: 2px;

    border: 0px;
    border-radius: 7px;

    background-color: @active-background;
}

prompt {
    padding: 8px 12px;

    margin: 4px;

    border: 0px;
    border-radius: 5px;

    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
}

entry {
    padding: 8px;

    border: 0px;

    background-color: transparent;
    text-color: @active-foreground;

    vertical-align: 0.5;
}

listview {
    columns: 1;
    lines: 5;

    fixed-height: true;

    spacing: 5px;

    border: 0px;

    scrollbar: false;

    background-color: transparent;
}

element {
    padding: 7px 10px;

    border: 0px;
    border-radius: 6px;

    background-color: @active-background;
    text-color: @foreground;

    horizontal-align: 0.5;
}

element selected {
    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
}

element normal.urgent {
    background-color: @urgent-background;
    text-color: @urgent-foreground;
}

element selected.urgent {
    background-color: @selected-urgent-background;
    text-color: @selected-urgent-foreground;
}

element-text {
    background-color: transparent;
    text-color: inherit;

    vertical-align: 0.5;
}

element-icon {
    size: 28px;

    background-color: transparent;
}
